body{
    background-color: #c6c7c4;
    /* padding: auto auto auto auto; */
    align-items: center;
    display: flex;
    justify-content: centre;
    align-items: center;
    width: 100%;
    height: 100%;
    /* margin: auto auto auto auto; */
    overflow-x: hidden;
    overflow-y: hidden;
}
section{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background: #c6c7c4;
    padding: auto auto auto auto;

}
    .centre{
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background: #c6c7c4;
    padding: auto auto auto auto;

    }

    .contentbox{
        height: auto;
        width: auto;
        background-color: #c6c7c4;
        display: grid;
        grid-template-columns: auto auto auto auto ;
        margin: auto auto auto auto;
        padding-inline-end: auto;
        justify-content: center;

    }
    .box1{
        align-self: center;
        height: 160px;
        width: 300px;
        margin: 10px;
        background-color: #c6c7c4;
        grid-column-start: 2;
        grid-column-end: 3;
        border-radius: 5px;
        padding-top: 10px;
        text-align: center;
    }
    .h1{
        font-size: 35px;
        color: #e63946;
    }
    .h3{
        font-size: 25px;
        color: black;
    }
    .box2{
        height: 160px;
        width: 1400px;
        margin: 10px;
        background-color: white;
        grid-column-start: 1;
        grid-column-end: 4;
        border-radius: 5px;
        display: flex;
        justify-content: end;
    }
    .box3{
        height: 160px;
        width: 1400px;
        margin: 10px;
        background-color: white;
        grid-column-start: 1;
        grid-column-end: 4;
        border-radius: 5px;
        display: flex;
        justify-content: end;
    }
    .box4{
        height: 160px;
        width: 1400px;
        margin: 10px;
        background-color: white;
        grid-column-start: 1;
        grid-column-end: 4;
        border-radius: 5px;
        display: flex;
        justify-content: end;
    }
    .textbox{
        height: 140px;
        width:1300px ;
        margin: 10px;
        justify-self: left;
        background-color: white;
        font-size: 100px;
        border: none;
    }
    .redbox{
        height: 140px;
        width: 140px;
        background: red;
        margin: 10px;
        border-radius: 10px;
        text-align: center;
    }
    




